body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'chalk';
    color: white;
  }

  @font-face {
    font-family: 'chalk';
    src: url('font/CfBlackboardPersonalRegular-AKPg.ttf')format('truetype');
    font-style: normal;
    font-weight: 100;
  }