body {
    text-align: center;
    background-color: black;
    color: white;
  }

  .jumbotron {
    background-image: url('../images/background.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    height: 400px;

    text-align: center;
    font-family: 'chalk';
  }

  #wordlocation {
      padding-top: 80px;
      font-size: 32px;
  }

  @font-face {
    font-family: 'chalk';
    src: url('font/DK\ Cool\ Crayon.ttf')format('truetype');
    font-style: normal;
    font-weight: 100;
  }